.name {
    font-size: 22px;
}

.userDiv {
    border: 1px solid grey;
    margin: 10px 10px 20px 10px;
    padding: 10px;
}

.headings {
    font-weight: bold;
}

.address,
.phoneNo {
    font-size: 15px;
}


.btns {
    text-align: center;
}

button {
    display: inline;
    margin: 5px;
}