.navbar_div {
    background-color: blue;
    height: 55px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    display: inline-block;
}

.nav_links_div {
    float: right !important;
    margin-right: 20px;
    margin-top: 10px;
}

.nav_links {
    color: white !important;
    margin: 10px;
}

.nav_icon_div {
    display: none;
    float: right;
}

@media (max-width:750px) {
    .nav_links_div {
        display: none;
    }

    .nav_icon_div {
        display: inline-block !important;
    }

}

.mobileNav {
    height: 150px;
}